In [1]:
#import pandas 
import pandas as pd

In [17]:
#path to raw data
xls_file = '../data/raw/PET_PRI_SPT_S1_M.xls'

#read all sheets into a dictionary of DataFrames
sheets = pd.read_excel(xls_file, sheet_name=None)

In [ ]:
#inspecting
df = sheets['Data 1']
df.head()

,Back to Contents,Data 1: Crude Oil,Unnamed: 2
0,Sourcekey,RWTC,RBRTE
1,Date,"Cushing, OK WTI Spot Price FOB (Dollars per Ba...",Europe Brent Spot Price FOB (Dollars per Barrel)
2,1986-01-15 00:00:00,22.93,NaN
3,1986-02-15 00:00:00,15.46,NaN
4,1986-03-15 00:00:00,12.61,NaN

In [21]:
df = sheets["Data 2"]
df.head()

,Back to Contents,Data 2: Conventional Gasoline,Unnamed: 2
0,Sourcekey,EER_EPMRU_PF4_Y35NY_DPG,EER_EPMRU_PF4_RGC_DPG
1,Date,New York Harbor Conventional Gasoline Regular ...,U.S. Gulf Coast Conventional Gasoline Regular ...
2,1986-06-15 00:00:00,0.42,0.409
3,1986-07-15 00:00:00,0.34,0.334
4,1986-08-15 00:00:00,0.426,0.416

In [24]:
# File path
file_path = '../data/raw/PET_PRI_SPT_S1_M.xls'

# Map of sheets to fuel types (skip 'Contents')
sheet_map = {
    "Data 1": "Crude Oil",
    "Data 2": "Conventional Gasoline",
    "Data 3": "RBOB Regular Gasoline",
    "Data 4": "No. 2 Heating Oil",
    "Data 5": "ULS Diesel",
    "Data 6": "Jet Fuel",
    "Data 7": "Propane"
}

# Create a list to hold all the cleaned DataFrames
combined_data = []

# Loop through and collect each sheet
for sheet, fuel_name in sheet_map.items():
    df = pd.read_excel(file_path, sheet_name=sheet, skiprows=3)

    # Assume first column is date, second is price
    df = df.iloc[:, :2].copy()
    df.columns = ['Date', 'Price']

    # Convert to datetime
    df['Date'] = pd.to_datetime(df['Date'], format='%b-%Y', errors='coerce')

    # Drop rows with missing values
    df = df.dropna(subset=['Date', 'Price'])

    # Add a fuel type column
    df['Fuel Type'] = fuel_name

    # Append to list
    combined_data.append(df)

# Concatenate all data
all_fuels_df = pd.concat(combined_data, ignore_index=True)

# Export to CSV
all_fuels_df.to_csv('../data/cleaned/all_fuel_prices.csv', index=False)